{% extends 'base.html' %}

{% block title %}Tag Details{% endblock %}

{% block content %}
<h1>{{ tag.name }}</h1>
<ul>
  {% for post in tag.posts %}
  <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<p>
<form>
  <a href="/tags" class="btn btn-outline-primary btn-sm">Cancel</a>
  <button class="btn btn-primary btn-sm" formaction="/tags/{{ tag.id }}/edit" formmethod="GET">Edit</button>
  <button class="btn btn-danger btn-sm" formaction="/tags/{{ tag.id }}/delete" formmethod="POST">Delete</button>
</form>
</p>
{% endblock %}