{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
[<a href="/users">users</a>]
<h1>Blogly Recent Posts</h1>

{% for post in posts %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<p>By {{ post.user.full_name }} on {{ post.created_at }}</p>
{% endfor %}

{% endblock %}


<!-- <ul>
  {% for user in users %}
  <li><a href="/users/{{ user.id }}">{{ user.full_name }}</a></li>
  {% endfor %}
</ul>
<p><a class="btn btn-secondary btn-sm" href="/users/new">Add user</a></p> -->